.App {
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.header {
  font-size: 40px;
  margin: 30px 0;
}

/* Sizes */

.sizes {
  height: 50px;
  display: inline-block;
  margin-bottom: 20px;
}

.sizebutton {
  height: 50px;
  width: 100px;
  line-height: 50px;
  float: left;
  text-align: center;
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  cursor: pointer;
}

.sizebutton.selected {
  background-color: #2e6da4;
}

/* Groups */

.groups {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.group {
  max-width: 350px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 10px;
}

.title {
  text-decoration: underline;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #808080;
}